<!DOCTYPE html>
<html>

<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="css/style.css">
</head>

<div class="page-header">
    <h2><%=title%></h2>
    <hr>
    <a href="/employee/employees" class="menu_links">Employee</a>
</div>
</div>
</body>

</html>